<h1>
    Test Execution
</h1>

<div class="tests">

    <div class="box box1">
        <p class="parsent">80%</p>
        <p class="bold">78888</p>
        <p>Total Test Pass</p>
    </div>

    <div class="box box2">
        <p class="parsent">80%</p>
        <p class="bold">23444</p>
        <p>Total Test Failed</p>
    </div>

    <div class="box box3">
        <p class="parsent">80%</p>
        <p class="bold">200</p>
        <p>Not Executed</p>
    </div>
    <div class="box box4">
        <p class="bold">7h 18m</p>
        <p>Total Testing Time</p>
    </div>

</div>