/* .link-list{

} */

.link-list ul{
    list-style: none;
}
.link-list ul li{
    margin-left: 1rem;
    padding-top: .8rem;
    font-size: 18px;
    display: flex;
    padding: .6rem .6rem .6rem .6rem;
}

h1{
    margin-top: 2rem;
    margin-left: 1.1rem;
    font-size: 38px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.select{
    background-color: rgba(70, 89, 144, 0.4);
    border-left: 6px;
    border-left-color: blue;
    border-left-style: solid;
    border-radius: 8px;
}

