ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

p{
    font-size: 18px;
    margin: .7rem 0 ;
}

.ms{
    color: rgba(0, 128, 0, 0.8);
}